@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Regular.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-SemiBold.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Archivo';
    src: url('../fonts/Archivo-Bold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../fonts/NotoSansCJKkr-Light.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../fonts/NotoSansCJKkr-Regular.woff2') format('woff2');
    font-weight: normal;
}
@font-face {
    font-family: 'NotoSansCJKkr';
    src: url('../fonts/NotoSansCJKkr-Bold.woff2') format('woff2');
    font-weight: 600;
}
